ccxt>=4.3.82
pandas>=2.2.2
numpy>=1.26.4
python-dotenv>=1.0.1
Flask>=3.0.0
google-generativeai>=0.1.0
requests>=2.28.0
schedule>=1.1.0
ccxt>=4.3.82
uphold-python3==0.0.1
plotly>=5.15.0
binance-connector>=3.6
requests>=2.31
